python-binance
TA-Lib
numpy
backtrader
flask
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability